        </div><!-- /.container -->
        <footer class="footer">
          <div class="container">
            <p class="text-muted">&copy; Factstagram | <a href="/posts">Home</a> | <a href="/posts/new">New post</a></p>
          </div>
        </footer>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="../scripts/newAndEdit.js"></script>
        <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
        <script src=https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js></script>
        <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      
        <script>
                  $(".flipper").flip({
                    axis: 'y',
                    trigger: 'click',
                  });
              
                function updateVoteCount(userChoice, postId){
                    postId = postId.substring(4)
                    axios.post('/posts/' + postId, userChoice)
                    
                    $("#flip"+postId).flip('true', function(){
                      jQuery(document).ready(function(){
                        $('#front'+postId).load(document.URL +  ' #front'+postId);
                        $('#back'+postId).load(document.URL +  ' #back'+postId);
                      })
                    });
                };
                $(function () {
                  $('[data-toggle="tooltip"]').tooltip()
                });

        </script>
    </body>
</html>