<% include ./partials/header %>
<div class="row">
    <!-- START SIDE BAR -->
    <div class="col-md-3">
        <p class="lead">Information</p>
        <h3><%=currentUser.username%></h3>
    </div>
    <!-- END SIDE BAR -->
  
  
    <div class="col-md-9">
        <%votedPosts.forEach(function(votedPost){ %>
        <div class="card" style="width: 17rem; height: 29rem">
            <img class="card-img-top" src="<%=votedPost.image%>">
            <div class="card-body">
                <div class="card-title"><h4><%=votedPost.name%></h4></div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
  
      
<% include ./partials/footer %>