/* Sticky footer styles
-------------------------------------------------- */
*{
  font-family: 'EB Garamond', serif;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.card-img-top{
  max-height: 200px;
  height: 100%;
  width: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

/* Thumbnail styles */
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

/* Google Map styles */
#map {
	height: 400px;
	width: 100%;
}

/* Post show page delete button */
.delete-form {
	display: inline-block;
}

/* Flexbox grid fix */
.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}

#searchBar{
  padding: 10px 0px 0px 20px;
}


input[type="radio"] {
    position: fixed;
    top: -20px;
}
label{
  overflow: auto;
}
.otherTextBox{
  display: none;
}
.postTitle {
      display: block;
      display: -webkit-box;
      max-width: 400px;
      height:85px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 1.5;
      text-overflow: ellipsis;
}

#flash {
.notice {
padding: 8px 14px;
margin-bottom: 20px;
background-color: #fcf8e3;
@include border-radius(2px);
}
.flash-message {
display: inline-block;
}
button.flash-close {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 30px;
font-weight: bold;
line-height: 25px;
padding: 0;
margin: 0;
float: right;
color: #984949;
cursor: pointer;
border: 0;
background: transparent;
-webkit-appearance: none;
}
.success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
}
.error {
background-color: #ead2d3;
border-color: #eed3d7;
color: #984949;
}
.info {
background-color: #d9edf7;
color: #3a87ad;
}
